@charset "UTF-8";

/*APARELHO EM PÉ (PORTRAIT)*/

body {
    background:url(../imagens/cev-portrait.jpg);
    background-size: 85%;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
}